@font-face {
    font-family: Notable;
    src: url('../fonts/Notable/Notable-Regular.ttf');
}
body {
    margin: 0; font-family: "Arial", "Helvetica", "SansSerif";
}
h1, h2, h3 { margin: 0; font-family: 'Notable', SansSerif}
h1 { text-transform: uppercase;}
.hidden { display: none;}
.title { grid-area: title; background-color: #696969; color: #FFFFFF;}
.logo figure, p { margin: 0;}
.logo {
    position: static;
    background-color: rgb(255, 199, 43);
    border-color: #ff00ff;
    border-style: double;
    border-width: 5px;
}
.title { text-align: center; font-size: 35px; padding: 15px 0 15px 0;}
.payoff { grid-area: payoff; background-color: darkgrey; color: #FFFFFF;}

li a { color: #FFFFFF;}
li a:hover { text-shadow: 2px 2px #000000;}
.active { font-weight: bolder; color: #00bfff; text-shadow: 2px 2px #6495ed;}
span > a { background-color: #ffc0cb; padding: 10px; margin: 1px; display: block;}

.contactinfo { grid-area: contact; background-color: palegreen;}
.form { grid-area: form; background-color: #CC5C5C;}
.aside {grid-area: aside; background-color: lightgoldenrodyellow; text-align: center;}
.a1 { grid-area: a1;}
.cookie {
    padding: 10px;
    grid-area: cookie;
    background-color: #FA0;
    opacity: 50%;
    color: #FFF;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}
.footer { grid-area: footer; background-color: #D8BFD8;}
footer { font-style: italic;}

.grid-container > article {
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
}
/* P */
p {
    letter-spacing: 1px;
    line-height: 1em;
    text-indent: 10px;
    word-spacing: 2px;
}

/* figcaption-style */
.figc {
    font-size: 15px;
    font-style: italic;
}
.aside figure {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    text-align: center;
}
figure img {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li + li { color: #00008b;}
li + li + li{ color: #006400; }
ul > li { background-color: #ffc0cb; padding: 10px;}

/* input/textarea for contact form */
input { width: 80%; padding: 10px;}
.submit {width: 100px;}
textarea { width: 80%; height: 100px; padding: 10px;}

/* PC version howsolarworks.html */
@media only screen and (min-width : 1280px) {
    .logo { grid-area: logo; background-color: #FFC72B;}
    .nav {
        grid-area: nav;
        background-color: #9ACD32;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
    .nav ul li {float: left; margin: 30px; }
    .navPhone { display: none;}
    .grid-container {
        display: grid;
        grid-template-areas:
                'logo logo logo'
                'title title title'
                'payoff payoff payoff'
                'nav nav nav'
                'contact contact contact'
                'form form aside'
                'footer footer cookie';
    }
}

/* Tablet version eusolar.html */
@media only screen and (min-width : 481px) and (max-width: 1279px) {
    .logo { grid-area: logo; background-color: #FFC72B;}
    .nav {
        grid-area: nav;
        background-color: #9ACD32;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
    .nav ul li {float: left; margin: 30px; }
    .navPhone { display: none;}
    .cookie { font-size: 30px;}
    .grid-container {
        display: grid;
        grid-template-areas:
                'logo logo'
                'title title'
                'payoff payoff'
                'nav nav'
                'contact contact'
                'form aside'
                'footer cookie';
    }
}

/* Mobile version eusolar.html */
@media only screen and (max-width : 480px) {
    .logo { display: none;}
    .nav { display: none;}
    h1, h2, h3, p { font-size: 20px;}
    .navPhone { grid-area: nav; background-color: #8a2be2; color: #FFFFFF;}
    .navPhone label { font-size: 70px;}
    .navPhone a { font-size: 15px; color: #ffffff;}
    .grid-container {
        display: grid;
        grid-template-areas:
                'title nav'
                'payoff nav'
                'contact contact'
                'form form'
                'aside aside'
                'footer cookie';
    }
}
/* Hamburger menu-toggle for phone */
#show,#navPhoneToggle{display:none;}
#show:checked~#navPhoneToggle{display:block;}